.set-background {

    position: relative;
    height:90.3vh;
  }
  
  .set-background::after {
    content: "";
    background-image: url('./images/background.jpg');
 opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat; 
    margin-left: 0; 
  }
  .set-background h5 {
    color:white;
  text-transform: uppercase;

  }
 
 
